body {
    margin: 0;
    font-family: 'Arial', sans-serif;
} 

.navigation-banner {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo img {
    max-height: 40px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.nav-links a:hover {
    text-decoration: underline;
}
